version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.4.1
  node: circleci/node@7.2.1

jobs:

  fyi-iapetus-plugins-compile-platform-8-lowest:
    executor: server
    steps:
      - server:
          platform: "8 (lowest version)"
          jira: "11.0.0"
          confluence: "10.0.0"
          bamboo: "12.0.0"        
          bitbucket: "10.0.0"
          sal: "7.0.0"
          upm: "7.0.23"
          plugins: "9.0.0"
          webresources: "8.0.0"
          velocity: "5.0.1"
          spring: "6.2.9"

  fyi-iapetus-plugins-deploy:
    executor: server
    steps:
      - server:
          release: "true"
          platform: "8"
          jira: "10.4.0"
          confluence: "9.3.1"
          bamboo: "10.2.0"        
          bitbucket: "9.5.0"
          sal: "7.0.0"
          upm: "7.0.23"
          plugins: "9.0.0"
          webresources: "8.0.0"
          velocity: "5.0.1"
          spring: "6.2.9"

executors:

  server:
    docker:
      - image: remie/circleci-collabsoft-addons
    resource_class: large
    working_directory: ~/acpolyfill
      
commands:

  prepare:
    steps:
      - checkout:
          path: ~/acpolyfill

      - node/install:
          node-version: '18'

      - run:
          name: Setup environment
          command: |
            npm install -g yarn@berry
            yarn --version

      - run: 
          name: Install dependencies
          command: yarn install --immutable

      - aws-cli/install
      - aws-cli/setup:
          region: 'us-east-1'

      - run: 
          name: Setup Atlassian SDK
          command: |
            atlas-version;
            /opt/atlassian-plugin-sdk/bin/atlas-mvn install:install-file -DgroupId=jndi -DartifactId=jndi -Dversion=1.2.1 -Dpackaging=jar -Dfile=/opt/atlassian-plugin-sdk/repository/jndi/jndi/1.2.1/jndi-1.2.1.jar;
            wget https://repository.collabsoft.net/external/xmlrpc/xmlrpc/2.0%2Bxmlrpc61.1%2Bsbfix/xmlrpc-2.0%2Bxmlrpc61.1%2Bsbfix.jar -O /tmp/xmlrpc-2.0+xmlrpc61.1+sbfix.jar;
            /opt/atlassian-plugin-sdk/bin/atlas-mvn install:install-file -DgroupId=xmlrpc -DartifactId=xmlrpc -Dversion=2.0+xmlrpc61.1+sbfix -Dpackaging=jar -Dfile=/tmp/xmlrpc-2.0+xmlrpc61.1+sbfix.jar;

  server:
    parameters:
      release:
        type: string
        default: "false"
      platform:
        type: string
      jira:
        type: string
      confluence:
        type: string
      bamboo:
        type: string
      bitbucket:
        type: string
      sal:
        type: string
      upm:
        type: string
      plugins:
        type: string
      webresources:
        type: string
      velocity:
        type: string
      spring:
        type: string
    steps:
      - prepare

      # - run:
      #     name: Publish Atlassian Connect Polyfill helper classes for Jira - Platform << parameters.platform >>
      #     command: |
      #       atlas-mvn clean deploy \
      #         -P jira \
      #         -DskipTests \
      #         -DnvdApiKey=${NVD_API_KEY} \
      #         -Drelease=<< parameters.release >> \
      #         -Djira.version=<< parameters.jira >> \
      #         -Dconfluence.version=<< parameters.confluence>> \
      #         -Dbamboo.version=<< parameters.bamboo >> \
      #         -Dbitbucket.version=<< parameters.bitbucket >> \
      #         -Dacpolyfill.sal.version=<< parameters.sal >> \
      #         -Dacpolyfill.upm.version=<< parameters.upm >> \
      #         -Dacpolyfill.plugins.version=<< parameters.plugins >> \
      #         -Dacpolyfill.webresources.version=<< parameters.webresources >> \
      #         -Dacpolyfill.velocity.version=<< parameters.velocity >> \
      #         -Dacpolyfill.spring.context.version=<< parameters.spring >>
      #     no_output_timeout: 60m

      - run:
          name: Publish Atlassian Connect Polyfill helper classes for Confluence - Platform << parameters.platform >>
          command: |
            atlas-mvn clean deploy \
              -P confluence \
              -DskipTests \
              -DnvdApiKey=${NVD_API_KEY} \
              -Drelease=<< parameters.release >> \
              -Djira.version=<< parameters.jira >> \
              -Dconfluence.version=<< parameters.confluence>> \
              -Dbamboo.version=<< parameters.bamboo >> \
              -Dbitbucket.version=<< parameters.bitbucket >> \
              -Dacpolyfill.sal.version=<< parameters.sal >> \
              -Dacpolyfill.upm.version=<< parameters.upm >> \
              -Dacpolyfill.plugins.version=<< parameters.plugins >> \
              -Dacpolyfill.webresources.version=<< parameters.webresources >> \
              -Dacpolyfill.velocity.version=<< parameters.velocity >> \
              -Dacpolyfill.spring.context.version=<< parameters.spring >>
          no_output_timeout: 60m

      # - run:
      #     name: Publish Atlassian Connect Polyfill helper classes for Bitbucket - Platform << parameters.platform >>
      #     command: |
      #       atlas-mvn clean deploy \
      #         -P bitbucket \
      #         -DskipTests \
      #         -DnvdApiKey=${NVD_API_KEY} \
      #         -Drelease=<< parameters.release >> \
      #         -Djira.version=<< parameters.jira >> \
      #         -Dconfluence.version=<< parameters.confluence>> \
      #         -Dbamboo.version=<< parameters.bamboo >> \
      #         -Dbitbucket.version=<< parameters.bitbucket >> \
      #         -Dacpolyfill.sal.version=<< parameters.sal >> \
      #         -Dacpolyfill.upm.version=<< parameters.upm >> \
      #         -Dacpolyfill.plugins.version=<< parameters.plugins >> \
      #         -Dacpolyfill.webresources.version=<< parameters.webresources >> \
      #         -Dacpolyfill.velocity.version=<< parameters.velocity >> \
      #         -Dacpolyfill.spring.context.version=<< parameters.spring >>
      #     no_output_timeout: 60m

      # - run:
      #     name: Publish Atlassian Connect Polyfill helper classes for Bamboo - Platform << parameters.platform >>
      #     command: |
      #       atlas-mvn clean deploy \
      #         -P bamboo \
      #         -DskipTests \
      #         -DnvdApiKey=${NVD_API_KEY} \
      #         -Drelease=<< parameters.release >> \
      #         -Djira.version=<< parameters.jira >> \
      #         -Dconfluence.version=<< parameters.confluence>> \
      #         -Dbamboo.version=<< parameters.bamboo >> \
      #         -Dbitbucket.version=<< parameters.bitbucket >> \
      #         -Dacpolyfill.sal.version=<< parameters.sal >> \
      #         -Dacpolyfill.upm.version=<< parameters.upm >> \
      #         -Dacpolyfill.plugins.version=<< parameters.plugins >> \
      #         -Dacpolyfill.webresources.version=<< parameters.webresources >> \
      #         -Dacpolyfill.velocity.version=<< parameters.velocity >> \
      #         -Dacpolyfill.spring.context.version=<< parameters.spring >>
      #     no_output_timeout: 60m

      - run:
          name: Publish Atlassian Connect Polyfill - Platform << parameters.platform >>
          command: |
            atlas-mvn clean deploy \
              -P servlet \
              -DskipTests \
              -DnvdApiKey=${NVD_API_KEY} \
              -Drelease=<< parameters.release >> \
              -Djira.version=<< parameters.jira >> \
              -Dconfluence.version=<< parameters.confluence>> \
              -Dbamboo.version=<< parameters.bamboo >> \
              -Dbitbucket.version=<< parameters.bitbucket >> \
              -Dacpolyfill.sal.version=<< parameters.sal >> \
              -Dacpolyfill.upm.version=<< parameters.upm >> \
              -Dacpolyfill.plugins.version=<< parameters.plugins >> \
              -Dacpolyfill.webresources.version=<< parameters.webresources >> \
              -Dacpolyfill.velocity.version=<< parameters.velocity >> \
              -Dacpolyfill.spring.context.version=<< parameters.spring >>
          no_output_timeout: 60m

      - run:
          name: Update S3 caching headers
          command: |
            aws s3 cp s3://repository.collabsoft.net/ s3://repository.collabsoft.net/ --exclude "*" --include "*.xml" \
            --recursive --metadata-directive REPLACE --expires 1970-01-01T00:00:00Z --acl public-read \
            --cache-control max-age=0,private,no-cache

workflows:
  deploy:
    jobs:

      - fyi-iapetus-plugins-compile-platform-8-lowest:
          name: Atlassian Connect Polyfill - Platform 8 (lowest)
          filters:
            branches:
              ignore: main

      - fyi-iapetus-plugins-release:
          name: Atlassian Connect Polyfill - Release
          type: approval
          filters:
            branches:
              only: main

      - fyi-iapetus-plugins-deploy:
          name: Atlassian Connect Polyfill - Deploy
          requires:
            - Atlassian Connect Polyfill - Release
          filters:
            branches:
              only: main



